doctype html
html(lang="en")
	head
		
		title Angular-RequireJs-ExpressJs-CoffeeScript-seed
		//link(rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css")
		link(rel='stylesheet', href='/css/main.css')

	body
		
		header
			|  Angular-RequireJs-ExpressJs-CoffeeScript-seed

		div(ng-view)
		
		script(data-main="/js/main.js" src="/vendors/requirejs/require.js")
		

		
		
		
		


		
