doctype html
html(lang="en")
	head
		
		title Flippy Survey
		//link(rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css")
		link(rel='stylesheet', href='/css/main.css')

	body
		
		header
			|  Flippy Survey

		div(ng-view)
		
		script(data-main="/js/main-built.js" src="/vendors/requirejs/require.js")
		

		
		
		
		


		
